<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">
	<!-- 
	<servlet>
		<servlet-name>Platypi</servlet-name>
		<servlet-class>cs3.platypi.client.PlatypiServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Platypi</servlet-name>
		<url-pattern>/platypi</url-pattern>
	</servlet-mapping> 
	<servlet>
    	<servlet-name>PhoneSignalMessageServlet</servlet-name>
    	<servlet-class>cs3.platypi.server.PhoneSignalMessageServlet</servlet-class>
  	</servlet>
  
 	<servlet-mapping>
    	<servlet-name>PhoneSignalMessageServlet</servlet-name>
   		<url-pattern>/signal/protoc</url-pattern>
  	</servlet-mapping> -->
  	
  	<servlet>
    	<servlet-name>PhoneSignalHttpServlet</servlet-name>
    	<servlet-class>cs3.platypi.server.PhoneSignalHttpServlet</servlet-class>
  	</servlet>
  
 	<servlet-mapping>
    	<servlet-name>PhoneSignalHttpServlet</servlet-name>
   		<url-pattern>/1.0/submit</url-pattern>
  	</servlet-mapping>
  	
  	<servlet>
    	<servlet-name>PhoneSignalHttpGetServlet</servlet-name>
    	<servlet-class>cs3.platypi.server.PhoneSignalHttpGetServlet</servlet-class>
  	</servlet>
  
 	<servlet-mapping>
    	<servlet-name>PhoneSignalHttpGetServlet</servlet-name>
   		<url-pattern>/1.0/data</url-pattern>
  	</servlet-mapping>
  
    <servlet>
    	<servlet-name>PhoneSignalHttpGetAllServlet</servlet-name>
    	<servlet-class>cs3.platypi.server.PhoneSignalHttpGetAllServlet</servlet-class>
  	</servlet>
  
 	<servlet-mapping>
    	<servlet-name>PhoneSignalHttpGetAllServlet</servlet-name>
   		<url-pattern>/1.0/alldata</url-pattern>
  	</servlet-mapping>
  	
	<servlet>
		<servlet-name>greetServlet</servlet-name>
    	<servlet-class>cs3.platypi.server.PhoneSignalServiceImpl</servlet-class>
    </servlet>
  
    <servlet-mapping>
    	<servlet-name>greetServlet</servlet-name>
    	<url-pattern>/signal/signal</url-pattern>
    </servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>signal.html</welcome-file>
	</welcome-file-list>
</web-app>
